body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p {
    text-align: left;
}

h1 {
    font-size: 50px;
}

.headcc {
    color: lawngreen;
}

.first-header {
    border-left: 5px solid;
    border-image: linear-gradient(green, lawngreen);
    border-image-slice: 1;
    padding-left: 2%;
}

.first-banner {
    display: flex;
    margin: 1%;
}

.first-banner-div {
    width: 100%;
    margin-left: 4%;
    padding: 1%;
}

.first-banner-div img {
    width: 80%;
    height: 100%;
    margin-left: 5%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(purple, rgb(240, 133, 240));
    padding: 1% 4% 1% 4%;
    border-radius: 5px;
    color: white;
    font-weight: 570;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    text-align: center;
}

.seond-banner {
    display: flex;
    margin-left: 5%;
}

.mission {
    width: 25%;
    padding: 2%;
    background-color: cyan;
    margin: 1%;
    border-radius: 20px;
}

.mission img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.vission {
    width: 25%;
    padding: 2%;
    background-color: pink;
    margin: 1%;
    border-radius: 20px;
}

.vission img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.goals {
    width: 25%;
    padding: 2%;
    background-color: rgb(129, 230, 129);
    margin: 1%;
    border-radius: 20px;
}

.goals img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.third-banner {
    display: flex;
    margin: 1%;
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 97% 0 0 70%;
    background-size: 180px;
}

.practice {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
    padding: 1%;
}

.practice img {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    margin-left: 5%;
    margin-top: 3%;
}

.practice-head {
    font-size: 37px;
}

.fourth-banner {
    display: flex;
    margin: 5% 2% 6% 1%;
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 97% 70%;
    background-size: 180px;
}

.community {
    width: 100%;
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 3%;
    padding: 1%;
}

.community img {
    width: 75%;
    height: 100%;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 4%;
}

.headcom {
    font-size: 35;
}

.fifth-banner {
    display: flex;

}

.competition-text {
    width: 50%;
    margin-top: 8%;
    margin-right: 10%;

}

.competition img {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 15px;
    box-shadow: 10px 10px 30px cyan;
}

.competition {
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 25% 0%;
    background-image: url(./images/shapes/shape-6.png);
}

.end {
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;
}

.end-sec {
    font-family: 'Dancing Script', cursive;
}

.end-year {
    color: cyan;
}

.last-p {
    text-align: center;
    color: lawngreen;
}

.end-mission {
    color: white;
}